@charset "UTF-8";

:root {
    --cor1: rgb(12, 0, 19);
    --cor2: rgb(33, 25, 49);
    --cor3: rgb(54, 28, 66);
    --cor4: rgb(140, 0, 255);
    --cor5: rgb(49, 30, 56);
    --cor6: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: var(--cor1);
}

/* Alterado para focar apenas no cabeçalho do topo da página */
body > header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

    padding: 20px;
    background-color: var(--cor2);
    color: white;
    box-shadow: 2px 2px 0px var(--cor4);
}

.name {
    display: flex;
    align-items: center;
}

.navigation a {
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor6);
    transition: .5s;
}

.navigation a:hover {
    color: var(--cor4);
    background-color: var(--cor3);
}

main {
    flex: 1;

    margin: 40px auto;
    padding: 20px;
    width: 90vw;
    max-width: 900px;
}

.hero-title {
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: var(--cor4);
}

.container {
    background-color: var(--cor2);
    border: 2px dashed var(--cor6);
    border-radius: 10px;
    text-align: center;
}

.hero-text {
    padding: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--cor6);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: var(--cor2);
    color: white;
}